

<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-12">
            <ul class="fotterUl d-flex justify-content-center">
                <li class="IcnLi">
                    <img class="icon-img" src="images/Profile pics/Icons/html.png" alt="">
                </li>
                <li class="IcnLi">
                    <img class="icon-img" src="images/Profile pics/Icons/css.png" alt="">
                </li>
                <li class="IcnLi">
                    <img class="icon-img" src="images/Profile pics/Icons/Bootstrap.png" alt="">
                </li>
                <li class="IcnLi">
                    <img class="icon-img" src="images/Profile pics/Icons/javascript.png" alt="">
                </li>
                <li class="IcnLi">
                    <img class="icon-img" src="images/Profile pics/Icons/jquery.png" alt="">
                </li>
                <li class="IcnLi">
                    <img class="icon-img" src="images/Profile pics/Icons/exp2.jpg" alt="">
                </li>
                <li class="IcnLi">
                    <img class="icon-img" src="images/Profile pics/Icons/Node.png" alt="">
                </li>
            </ul>
        </div>
    </div>
</div>


<script>
    document.querySelectorAll(".animated-progress span").forEach(function (element) {
        var progress = element.getAttribute("data-progress");
        element.style.width = progress + "%";
        element.textContent = progress + "%";
    });
</script>