<%- include("partials/header.ejs") %>

<div class="container main">
    <div class="row">

        <div class="col-6 ">
            <img src="/images/Profile pics/p7.png" alt="">
        </div>

        <div class="col-6 Naming">

            <span class="">
            <p class="font-weight-bold text-warning">Hello,</p>
            <h1>I am <span class="text-warning">Omkar Hiremath</span></h1>
            
            <h3 class=""> <u>Full Stack Developer</u></h3>
            <p> Enthusiastic and results-driven IT professional with a solid background in system administration and a
                newfound passion for web development. Proven commitment to continuous learning, adaptability in
                dynamic work environments, and a track record of optimizing network performance and crafting user
               friendly websites.</p>
            <button class="Hire mt-2 bg-warning font-weight-bold"> Hire Me !</button>
        </span>
        </div>
       
    </div>
</div>

<%- include("partials/footer.ejs") %>