<%- include("partials/header.ejs") %>


<%# Technical Skills %>

<div class="container">
    <h3 class="m-5 text-warning" id="techexp">Technical Skills</h3>
    <div class="row">
        <div class="col-12"><h6>"Committed to continuous improvement, with a proactive approach to acquiring new skills and staying abreast of industry advancements."</h6></div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <!--Start Animated Progress Bar-->

            <div class="border border-success p-3  m-2">
            <P>HTML</P>
            <div class="progress">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 65%">65%</div>
              </div>
            </div>
            <div class="border border-warning p-3  m-2">
                <P>Css</P>
                <div class="progress">
                    <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 50%">50%</div>
                  </div>
                </div>

                <div class="border border-success p-3  m-2">
                    <P>Bootstrap 5</P>
                    <div class="progress">
                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
                      </div>
                    </div>


                    <div class="border border-primary p-3  m-2">
                        <P>Javascript</P>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 45%">45%</div>
                          </div>
                        </div>


                        
           <!--End Animated Progress Bar-->
        </div>
        <div class="col-lg-6">
           <!--Start Animated Progress Bar-->

           <div class="border border-primary p-3  m-2">
            <P>Jquery</P>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 45%">45%</div>
              </div>
            </div>
            <div class="border border-info p-3 m-2">
                <P>Node Js</P>
                <div class="progress">
                    <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 42%">42%</div>
                  </div>
                </div>

                <div class="border border-danger p-3  m-2">
                    <P>Express Js</P>
                    <div class="progress">
                        <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 49%">49%</div>
                      </div>
                    </div>


                    <div class="border border-warning p-3  m-2">
                        <P>Git</P>
                        <div class="progress">
                            <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 35%">35%</div>
                          </div>
                        </div>


                        
           <!--End Animated Progress Bar-->
          
        </div>
    </div>
</div>





<%# Technical Skills Ends %>


<div class="container ">
    <h3 class="m-5 text-warning" id="techexp">Technical Experience</h3>
    <div class="row">
        <div class="col">
           <a href="https://naradmunimedia.com/"><h4> <u>Narad muni media  Pune</u>  </h4></a> 
           <i>frontend designer January 2020</i>
                <p> I have successfully completed an internship on “Web
                    technology in front end designing” in Naradmuni media. During
                    the Internship, I have been certified for demonstrating good
                    design skills with self-motivated learning new things. I have
                    exceeded expectations and was able to complete the project
                    successfully</p>
        </div>
    </div>

</div>

<div class="container">

    <h3 class="m-5 text-warning" id="Certi">Certifications</h3>
    <div class="row">
        <div class="col-sm-4">
            <div class="card bg-warning text-dark d-flex flex-column h-100 mb-3">
                <img src="/images/Certificates/AI.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Microsoft Certificate of Completion</h5>
                    <p class="card-text">Career Essentials in Generative AI by Microsoft and LinkedIn</p>
                    <a href="https://www.linkedin.com/learning/certificates/c9c1444db3700ebfc0d2f8c07f1d72381ffb97b5233d126688c592bc64b0b55d?u=2110905"
                        class="btn btn-primary">Certificate link</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card bg-warning text-dark d-flex flex-column h-100 mb-3">
                <img src="/images/Certificates/Excel.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Udemy Certificate of Completion </h5>
                    <p class="card-text">Microsoft Excel - Excel from Beginner to Advanced </p>
                    <a href="https://www.udemy.com/certificate/UC-de5dce73-a9c4-4cc6-bec7-a04905d2bbe7/"
                        class="btn btn-primary">Certificate link</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card bg-warning text-dark d-flex flex-column h-100 mb-3">
                <img src="/images/Certificates/Goldmen Sacs.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Goldman Sachs Certificate of Completion</h5>
                    <p class="card-text">Goldman Sachs Engineering Job Simulation</p>
                    <a href="https://www.linkedin.com/learning/certificates/c9c1444db3700ebfc0d2f8c07f1d72381ffb97b5233d126688c592bc64b0b55d?u=2110905"
                        class="btn btn-primary">Certificate link</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <div class="card bg-warning text-dark d-flex flex-column h-100 mb-3">
                <img src="/images/Certificates/Server 2019.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Udemy Certificate of Completion</h5>
                    <p class="card-text">Windows Server 2019 Administration</p>
                    <a href="https://www.udemy.com/certificate/UC-d9e94034-e728-4d8c-8f24-00d4c67fc6f3/"
                        class="btn btn-primary">Certificate link</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card bg-warning text-dark d-flex flex-column h-100 mb-3">
                <img src="/images/Certificates/Phising.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">LinkedIn Learning Certificate of Completion</h5>
                    <p class="card-text">Avoiding Phishing Scams</p>
                    <a href="https://www.linkedin.com/learning/certificates/e801edb5a135754206cb604da472b760b88e9954b40c761279bdaa04d6f191bf?u=2110905"
                        class="btn btn-primary">Certificate link</a>
                </div>
            </div>
        </div>
    </div>
</div




<%- include("partials/footer.ejs") %>
