body{
    background-color: black;
    color: white;
}

.main{
    height: 80vh;
    display: flex;
    justify-content: space-around; 
}



.Naming{
    align-self: center;
}

.fotterUl{
    list-style: none;
}
.IcnLi{
    display: inline-block;
    margin: 5px;   
}

.icon-img {
    width: 35px; /* Adjust the width as needed */
    height: 35px; /* Adjust the height as needed */
}
 
